{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-1">Organizador de Tareas</h1>
            <p class="lead">Organiza tus tareas de manera eficiente y mantén un seguimiento de tus actividades diarias. Nuestra aplicación te permite crear, actualizar, completar y eliminar tareas de manera sencilla. Ya no te preocupes por olvidar tus pendientes, ¡nuestro organizador de tareas te tiene cubierto!</p>
            {% if user.is_authenticated %}
            {% else %}
            <a href="{% url 'signup' %}" class="btn btn-primary btn-lg mt-4">Comienza ahora</a>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}